<!-- Web Development Section -->
<section id="web-development" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Web Development</h2>
                <h3 class="section-subheading text-muted">Transforming ideas into stunning digital experiences.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Frontend Mastery</h4>
                <p class="text-muted">Expert in HTML, CSS, and JavaScript, with advanced skills in React and Angular, to create visually captivating and highly interactive interfaces.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Backend Engineering</h4>
                <p class="text-muted">Specialising in robust, scalable server-side applications using Node.js, Python, and PHP, ensuring high performance and security.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Design</h4>
                <p class="text-muted">Creating adaptive, mobile-first websites that deliver a seamless experience across all devices, from desktops to smartphones.</p>
            </div>
        </div>
        <br></br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Showcase Portfolio</h3>
                <p class="text-muted">Explore some examples of website projects I have developed.</p>
                <div class="row">
                    <br>
                    <!-- Project 1 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="https://paramountperceptions.com" class="portfolio-link" target="_blank">
                            <img src="img/portfolio/paramount-thumbnail.png" class="img-responsive" alt="Paramount Perceptions">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Paramount Perceptions</h4>
                            <p class="text-muted">A modern website designed for a creative agency, showcasing a clean and functional interface.</p>
                        </div>
                    </div>
                    <!-- Project 2 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="https://www.platinumscs.co.uk/" class="portfolio-link" target="_blank">
                            <img src="img/portfolio/platinum-thumbnail.png" class="img-responsive" alt="Platinum Support & Care Services">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Platinum Support & Care Services</h4>
                            <p class="text-muted">Developed a user-friendly and accessible website for a care service provider.</p>
                        </div>
                    </div>
                    <!-- Project 3 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="https://jshairandbeauty.com/" class="portfolio-link" target="_blank">
                            <img src="img/portfolio/jshair-thumbnail.png" class="img-responsive" alt="JS Hair and Beauty">
                        </a>
                        <div class="portfolio-caption">
                            <h4>JS Hair and Beauty</h4>
                            <p class="text-muted">Created a vibrant and engaging website for a contemporary beauty salon.</p>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <!-- Project 4: Industrial Temps -->
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="https://www.industrialtemps.com/" class="portfolio-link" target="_blank">
                                <img src="img/portfolio/industrial-temps-thumbnail.png" class="img-responsive" alt="Industrial Temps">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Industrial Temps</h4>
                                <p class="text-muted">Built a responsive website for a staffing agency, optimized for job searches and client interactions.</p>
                            </div>
                        </div>
                        <!-- Project 5: Zing Digital Print -->
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a href="https://www.zingdp.com/" class="portfolio-link" target="_blank">
                                <img src="img/portfolio/zingdp-thumbnail.png" class="img-responsive" alt="Zing Digital Print">
                            </a>
                            <div class="portfolio-caption">
                                <h4>Zing Digital Print</h4>
                                <p class="text-muted">Developed a sleek, high-impact website for a digital printing company, designed to showcase products and drive online sales.</p>
                            </div>
                        </div>
                    </div></div>
                </div>
            </div>
        </div>
        <br></br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Cutting-Edge Tools & Technologies Used</h4>
                    <p class="text-muted">Utilising the latest technologies to bring innovative web solutions to life.</p>
                </div>
            </div>
            <div class="row text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://html.spec.whatwg.org/" target="_blank">
                            <img src="img/web_dev_svg/html5.svg" alt="HTML5" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank">
                            <img src="img/web_dev_svg/CSS3.svg" alt="CSS3" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.javascript.com/" target="_blank">
                            <img src="img/web_dev_svg/JavaScript.svg" alt="JavaScript" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://reactjs.org/" target="_blank">
                            <img src="img/web_dev_svg/React.svg" alt="React" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://vuejs.org/" target="_blank">
                            <img src="img/web_dev_svg/Vue.svg" alt="Vue.js" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://angular.io/" target="_blank">
                            <img src="img/web_dev_svg/Angular.svg" alt="Angular" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://nodejs.org/" target="_blank">
                            <img src="img/web_dev_svg/Node.svg" alt="Node.js" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://getbootstrap.com/" target="_blank">
                            <img src="img/web_dev_svg/Bootstrap.svg" alt="Bootstrap" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://git-scm.com/" target="_blank">
                            <img src="img/web_dev_svg/Git.svg" alt="Git" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://aws.amazon.com/" target="_blank">
                            <img src="img/web_dev_svg/aws.svg" alt="AWS" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.docker.com/" target="_blank">
                            <img src="img/web_dev_svg/Docker.svg" alt="Docker" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.python.org/" target="_blank">
                            <img src="img/web_dev_svg/python.svg" alt="Python" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://wordpress.com/" target="_blank">
                            <img src="img/web_dev_svg/Wordpress.svg" alt="Wordpress" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.djangoproject.com/" target="_blank">
                            <img src="img/web_dev_svg/django.svg" alt="Django" class="icon">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.mongodb.com/" target="_blank">
                            <img src="img/web_dev_svg/mongodb.svg" alt="Mongo Databases" class="icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
