<!-- Web Development Section -->
<section id="web-development" class="bg-light-gray">
    <div class="container">
        <!-- Heading Section -->
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Web Development</h2>
                <h3 class="section-subheading text-muted">Projects that showcase my web development skills.</h3>
            </div>
        </div>

        <!-- Services Section -->
        <div class="row text-center mb-5">
            <div class="col-md-4 mb-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading mt-3">Frontend Development</h4>
                <p class="text-muted">Using HTML, CSS, JavaScript, React, and Angular to build responsive and user-friendly websites.</p>
            </div>
            <div class="col-md-4 mb-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading mt-3">Backend Development</h4>
                <p class="text-muted">Developing robust server-side applications with Node.js, Python, and PHP.</p>
            </div>
            <div class="col-md-4 mb-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading mt-3">Responsive Design</h4>
                <p class="text-muted">Building websites that work on all devices, from desktops to smartphones.</p>
            </div>
        </div>
        <br></br>

        <!-- Portfolio Section -->
        <div class="row mb-5">
            <div class="col-lg-12 text-center mb-4">
                <h3 class="section-heading">Showcase Portfolio</h3>
                <p class="text-muted">Here are some of the websites I have developed.</p>
            </div>
            <br></br>
            <!-- Projects Row -->
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-4 portfolio-item">
                    <a href="https://paramountperceptions.com" class="portfolio-link" target="_blank">
                        <img src="img/portfolio/paramount-thumbnail.png" class="img-responsive mb-3" alt="Paramount Perceptions">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Paramount Perceptions</h4>
                        <p class="text-muted">Website for a creative agency with a clean and functional design.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4 portfolio-item">
                    <a href="https://www.platinumscs.co.uk/" class="portfolio-link" target="_blank">
                        <img src="img/portfolio/platinum-thumbnail.png" class="img-responsive mb-3" alt="Platinum Support & Care Services">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Platinum Support & Care Services</h4>
                        <p class="text-muted">A user-friendly website for a care service provider.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4 portfolio-item">
                    <a href="https://jshairandbeauty.com/" class="portfolio-link" target="_blank">
                        <img src="img/portfolio/jshair-thumbnail.png" class="img-responsive mb-3" alt="JS Hair and Beauty">
                    </a>
                    <div class="portfolio-caption">
                        <h4>JS Hair and Beauty</h4>
                        <p class="text-muted">A vibrant website for a beauty salon.</p>
                    </div>
                </div>
            </div>
            <br></br>
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-4 portfolio-item">
                    <a href="https://www.industrialtemps.com/" class="portfolio-link" target="_blank">
                        <img src="img/portfolio/industrial-temps-thumbnail.png" class="img-responsive mb-3" alt="Industrial Temps">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Industrial Temps</h4>
                        <p class="text-muted">A responsive website for a staffing agency.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4 portfolio-item">
                    <a href="https://www.zingdp.com/" class="portfolio-link" target="_blank">
                        <img src="img/portfolio/zingdp-thumbnail.png" class="img-responsive mb-3" alt="Zing Digital Print">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Zing Digital Print</h4>
                        <p class="text-muted">A high-impact website for a digital printing company.</p>
                    </div>
                </div>
            </div>
        </div>
        <br></br>
        <br></br>
        <!-- Tools & Technologies Section -->
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Technologies Used In Web Development</h4>
                    <p class="text-muted">Tools and technologies I use for web development.</p>
                </div>
            </div>
            <div class="row text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://html.spec.whatwg.org/" target="_blank">
                            <img src="img/web_dev_svg/html5.svg" alt="HTML5" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank">
                            <img src="img/web_dev_svg/CSS3.svg" alt="CSS3" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.javascript.com/" target="_blank">
                            <img src="img/web_dev_svg/JavaScript.svg" alt="JavaScript" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://reactjs.org/" target="_blank">
                            <img src="img/web_dev_svg/React.svg" alt="React" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://vuejs.org/" target="_blank">
                            <img src="img/web_dev_svg/Vue.svg" alt="Vue.js" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://angular.io/" target="_blank">
                            <img src="img/web_dev_svg/Angular.svg" alt="Angular" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://nodejs.org/" target="_blank">
                            <img src="img/web_dev_svg/Node.svg" alt="Node.js" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://getbootstrap.com/" target="_blank">
                            <img src="img/web_dev_svg/Bootstrap.svg" alt="Bootstrap" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://git-scm.com/" target="_blank">
                            <img src="img/web_dev_svg/Git.svg" alt="Git" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://aws.amazon.com/" target="_blank">
                            <img src="img/web_dev_svg/aws.svg" alt="AWS" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.docker.com/" target="_blank">
                            <img src="img/web_dev_svg/Docker.svg" alt="Docker" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.python.org/" target="_blank">
                            <img src="img/web_dev_svg/python.svg" alt="Python" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://wordpress.com/" target="_blank">
                            <img src="img/web_dev_svg/Wordpress.svg" alt="Wordpress" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.djangoproject.com/" target="_blank">
                            <img src="img/web_dev_svg/django.svg" alt="Django" class="icon mb-3">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.mongodb.com/" target="_blank">
                            <img src="img/web_dev_svg/mongodb.svg" alt="Mongo Databases" class="icon mb-3">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
