<!-- Web Development Section -->
<section id="web-development" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Web Development</h2>
                <h3 class="section-subheading text-muted">Transforming ideas into stunning digital experiences.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Frontend Wizardry</h4>
                <p class="text-muted">Mastery in HTML, CSS, and JavaScript, combined with the power of React and Angular, to craft visually captivating and highly interactive interfaces.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Backend Brilliance</h4>
                <p class="text-muted">Building robust, scalable server-side applications with Node.js, Python, and PHP, ensuring seamless performance and security.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Elegance</h4>
                <p class="text-muted">Designing adaptive, mobile-first websites that deliver a flawless experience on any device, from desktops to smartphones.</p>
            </div>
        </div>
        <br></br>
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Advanced Tools & Technologies</h3>
                <p class="text-muted">Leveraging the latest tools to bring cutting-edge web solutions to life.</p>
            </div>
        </div>
        <div class="row text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-html5 fa-3x"></i></li>
                    <li class="list-inline-item"><i class="fa fa-css3 fa-3x"></i></li>
                    <li class="list-inline-item"><i class="fa fa-code fa-3x"></i></li> <!-- General coding icon -->
                    <li class="list-inline-item"><i class="fa fa-cogs fa-3x"></i></li> <!-- For Node.js or general backend -->
                    <li class="list-inline-item"><i class="fa fa-database fa-3x"></i></li> <!-- Database or backend in general -->
                    <li class="list-inline-item"><i class="fa fa-server fa-3x"></i></li> <!-- Server-side icon -->
                </ul>
            </div>
        </div>
        <br></br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Showcase Portfolio</h3>
                <p class="text-muted">Explore some of the remarkable projects I've brought to life.</p>
                <div class="row">
                    <br></br>
                    <!-- Project 1 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="https://paramountperceptions.com" class="portfolio-link" target="_blank">
                            <img src="img/portfolio/paramount-thumbnail.png" class="img-responsive" alt="Paramount Perceptions">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Paramount Perceptions</h4>
                            <p class="text-muted">A cutting-edge website for a creative agency.</p>
                        </div>
                    </div>
                    <!-- Project 2 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="https://www.platinumscs.co.uk/" class="portfolio-link" target="_blank">
                            <img src="img/portfolio/platinum-thumbnail.png" class="img-responsive" alt="Platinum Support & Care Services">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Platinum Support & Care Services</h4>
                            <p class="text-muted">A user-friendly website for a care service provider.</p>
                        </div>
                    </div>
                    <!-- Project 3 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="https://jshairandbeauty.com/" class="portfolio-link" target="_blank">
                            <img src="img/portfolio/jshair-thumbnail.png" class="img-responsive" alt="JS Hair and Beauty">
                        </a>
                        <div class="portfolio-caption">
                            <h4>JS Hair and Beauty</h4>
                            <p class="text-muted">A vibrant website for a modern salon.</p>
                        </div>
                    </div>
                    <!-- More projects can be added similarly -->
                </div>
            </div>
        </div>
    </div>
</section>
