<!DOCTYPE html>
<html>

<!-- Including a partial template: {% include head.html %} -->


    <body id="page-top" class="index">

<!-- Including a partial template: {% include header.html %} -->
<!-- Including a partial template: {% include services.html %} -->
<!-- Including a partial template: {% include portfolio_grid.html %} -->
<!-- Including a partial template: {% include about.html %} -->
<!-- Including a partial template: {% include team.html %} -->
<!-- Including a partial template: {% include clients.html %} -->
<!-- Including a partial template: {% include contact.html %} -->
<!-- Including a partial template: {% include footer.html %} -->
<!-- Including a partial template: {% include modals.html %} -->
<!-- Including a partial template: {% include js.html %} -->

    </body>
</html>